{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Login</title>
    <!-- BOOTSTRAP CSS, DO NOT DELETE -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}"/>
    <script src="https://code.jquer statiy.com/jquery-3.2.1.min.js"></script>
</head>

<body class="bckg min-vh-100">
<!-- BOOTSTRAP JS, DO NOT DELETE -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!--Barra de login-->
<div class="container-fluid text-center p-4">
    <div class="row p-2 mx-2 rounded shadow header-bg ">
        <div class="col-4 text-left text-white">
            <h1 class="pt-2">Bobby Tables!</h1>
        </div>
        <div class="col-8 text-right text-white">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-4"></div>
                    <div class="form-group col-3 ">
                        <label for="username">Email</label>
                        <input type="text" class="form-control group-input px-2" id="username" name="username"
                               placeholder="Ingresa tu email">
                    </div>
                    <div class="form-group col-3">
                        <label for="Password">Contraseña</label>
                        <input type="password" class="form-control group-input px-2" id="password" name="password"
                               placeholder="***********">
                    </div>
                    <div class="col-2 align-self-center">
                        <button type="submit" class="btn btn-primary"> Iniciar sesión</button>
                    </div>
                </div>

            </form>
            {% if invalid %}
                Nombre de usuario y/o contraseña inválida.
            {% endif %}

        </div>
    </div>
</div>
<!--Información de la página-->
<div class="container-fluid text-left p-4">

    <!--Registro de usuario-->
    <div class="container-fluid text-right col-11 mx-3 text-white">
        <h1 class="text-black-50">¡Regístrate!</h1>
        <h3 class="text-black-50">En pocos pasos podras medir tu tiempo!</h3>
    </div>
    <div class="row text-white">
        <div class="col-8 border border-dark bg-dark rounded mx-4">
            <div class="row justify-content-center">
                <h1 class="py-3"> Bobby Tables </h1>
            </div>
            <div class="row justify-content-center">
                <h3> La App que buscas para organizar tu día a día</h3>
            </div>
            <div class="row justify-content-center py-3">
                <div class="col-sm text-center">
                    <h5> Comparte con tus amigos tus actividades diarias! </h5>
                </div>
                <div class="col-sm text-center">
                    <h5> Planifica tus actividades para obtener mejores resultados </h5>
                </div>
                <div class="col-sm text-center">
                    <h5> Compara y fija objetivos </h5>
                </div>
            </div>
            <div class="row justify-content-center py-3">
                <div class="col-sm text-center">
                    <img src="{% static 'img/friend.png' %}" class="avatar-icon px-2 py-2">
                </div>
                <div class="col-sm text-center">
                    <img src="{% static 'img/calendar.png' %}" class="avatar-icon px-2 py-2">
                </div>
                <div class="col-sm text-center">
                    <img src="{% static 'img/target.png' %}" class="avatar-icon px-2 py-2">
                </div>
            </div>
        </div>

        <div class="card col-3 border border-primary rounded">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group text-right">
                    <input type="text" name="name" placeholder="Nombre" class="form-control"/>
                </div>
                <div class="form-group">
                    <input type="text" name="lastname" placeholder="Apellido" class="form-control"/>
                </div>
                <div class="form-group">
                    <input type="email" name="email" placeholder="Correo electrónico" class="form-control"/>
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Contraseña" class="form-control"/>
                </div>
                <div class="form-group">
                    <input type="password" name="password2" placeholder="Confirme contraseña" class="form-control"/>
                </div>
                <div class="form-group">
                    <input type="file" name="image" placeholder="Imagen de perfil" class="form-control">
                </div>

                <div class="row d-flex flex-row-reverse">
                    <button type="submit" class="btn btn-success m-2 flex-row">Registrarse</button>
                </div>
            </form>
        </div>

    </div>


</body>
</html>